div:hover img{
width:500px;
height:281px;
tansition: width 2s,height 2s;
 border: 1px solid #777;
}
div img{
width:250;
height:auto;
  border: 1px solid #ccc;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
